@{
    ViewBag.Title = "Thông tin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class ="img-circle" src="../imgs/avt/_MG_1671.jpg" width="200" height="180"/>
<p>https://www.facebook.com/sootra.tran</p>

