@{
    ViewBag.Title = "Liên Hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    92/22/8a Tôn thất thuyết p16 q4<br />
    Sootra :Sootratran@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    088.4518.825
</address>

<address>
    <strong>Hổ trợ:</strong>   <a href="mailto:sootratran@gmail.com">sootratran@gmail.com</a><br />
</address>